<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivational Blogs</title>
    <link rel="stylesheet" href="./index.css"/>
</head>
<body>
    <h1>Welcome to Motivational Blogs</h1>
    <div class="container">
        <div class="buttons">
            <form action="/register" method="POST" > 
                <input class="btn3" type="submit" name="register" value="Register">
            </form>
            <form action="/login" method="POST" >
                <input class="btn4" type="submit" name="login" value="Login">
            </form>
    
        </div>
        <div class="imgadj">
            <img src="/images/moti.jpg" alt="">
        </div>
    </div>
    
</body>
</html>